.form {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
  line-height: 1.21;
  font-family: "Inter", Arial, sans-serif;
}

.form__input {
  box-sizing: border-box;
  padding: 0 7px 9px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

.form__input::placeholder {
  color: #000;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px #719ece solid;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.form__button {
  margin: 18px 0 0;
  background: #000;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  line-height: 1.22;
  padding: 14px;
  cursor: pointer;
  transition: opacity ease-out 0.3s;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 524px) {
  .form {
    width: 100%;
    max-width: none;
  }

  .form__button {
    margin-top: 16px;
    padding: 12px;
  }
}
