.page {
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  padding: 19px;
  background: #000;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-heihgt: 1.22;
  font-weight: 400;
  color: #fff;
}