.card-modal {
  margin: 0 40px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 75vw;
  max-height: 75vh;
  min-width: 240px;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}

.card-modal__photo-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  margin: 0 0 10px;
}

.card-modal__photo {
  display: block;
  flex: 0 1 auto;
  min-width: 100%;
  max-width: 75vw;
  max-height: 75vh;
  font-size: 12px;
}

.card-modal__photo-title {
  margin: 0;
  width: fit-content;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}
