<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Prototype for a social media platform for sharing photos"
    />
    <meta name="author" content="Mayer Starkman" />
    <meta
      name="keywords"
      content="Practicum100, practicum, yandex, HTML, CSS, JavaScript, JS, web development, project 4"
    />
    <title>Around the U.S.</title>
  </head>

  <body class="body">
    <div class="page">
      <header class="header">
        <img
          src="<%= require('./images/header/__logo.svg')%>"
          alt='"Around the U.S." logo'
          class="header__logo"
        />
      </header>

      <main class="content">
        <section class="profile">
          <!-- <div class="profile__avatar-container"> -->
            <img
              src=""
              alt="Profile picture"
              class="profile__avatar"
            />
            <!-- <div class="profile__avatar-button">
            </div>
          </div> -->
          <div class="profile__info">
            <div class="profile__name-container">
              <h1 class="profile__name"></h1>
              <button type="button" class="profile__edit-button">pop</button>
            </div>
            <p class="profile__about"></p>
          </div>
          <button type="button" class="profile__add-button">
            <img
              src="<%= require('./images/profile/__add-button.svg')%>"
              alt="add button"
              class="profile__add-plus-sign"
            />
          </button>
        </section>

        <section class="places">
          <ul class="places__cards">
            <template id="card">
              <li class="card">
                <div class="card__photo-container">
                  <img alt="Place goes here" class="card__photo" />
                  <button type="button" class="card__delete-button"></button>
                </div>
                <div class="card__bar">
                  <h2 class="card__name"></h2>
                  <div class="card__likesContainer">
                    <button type="button" class="card__like-button"></button>
                    <p class="card__likes"></p>
                  </div>
                </div>
              </li>
            </template>
          </ul>
        </section>
      </main>

      <footer class="footer">
        <p class="footer__text">© 2021 Around The U.S.</p>
      </footer>
    </div>

    <div class="modal modal_type_edit">
      <div class="modal__window modal__window_type_edit">
        <button
          type="button"
          class="modal__close-button modal__close-button_for_edit-form"
        ></button>
        <h3 class="modal__title">Edit Profile</h3>
        <form class="form form_type_edit" name="edit-profile">
          <div class="form__input-container">
            <input
              type="text"
              id="input-name"
              name="name"
              minlength="2"
              maxlength="40"
              placeholder="Name"
              class="form__input form__input_valid form__input_type_name"
              required
            />
            <span class="form__error form__error_type_name">.</span>
          </div>
          <div class="form__input-container">
            <input
              type="text"
              id="input-profileAbout"
              name="about"
              minlength="2"
              maxlength="200"
              placeholder="Caption"
              class="form__input form__input_valid form__input_type_about"
              required
            />
            <span class="form__error form__error_type_about">.</span>
          </div>
          <button type="submit" class="form__button">Save</button>
        </form>
      </div>
    </div>

    <div class="modal modal_type_add">
      <div class="modal__window modal__window_type_add">
        <button
          type="button"
          class="modal__close-button modal__close-button_for_add-form"
        ></button>
        <h3 class="modal__title">New Place</h3>
        <form novalidate class="form form_type_add" name="add-card">
          <div class="form__input-container">
            <input
              type="text"
              maxlength="30"
              id="input-cardName"
              name="name"
              placeholder="Name"
              class="form__input form__input_valid form__input_type_title"
              required
            />
            <span class="form__error form__error_type_title">.</span>
          </div>
          <div class="form__input-container">
            <input
              type="url"
              id="input-link"
              name="link"
              placeholder="Image URL"
              class="form__input form__input_valid form__input_type_url"
              required
            />
            <span class="form__error form__error_type_url">.</span>
          </div>
          <button type="submit" class="form__button">Create</button>
        </form>
      </div>
    </div>

    <div class="modal modal_type_card">
      <div class="modal__window modal__window_type_card card-modal">
        <div class="card-modal__photo-container">
          <button
            type="button"
            class="modal__close-button modal__close-button_for_card-modal"
          ></button>
          <img class="card-modal__photo" />
        </div>
        <h2 class="card-modal__photo-title"></h2>
      </div>
    </div>

    <div class="modal modal_type_delete-card">
      <div class="modal__window modal__window_type_delete-card">
        <button
          type="button"
          class="modal__close-button modal__close-button_for_delete-card"
        ></button>
        <h3 class="modal__title modal__title_type_delete-card">Are you sure?</h3>
        <form novalidate class="form form_type_delete-card" name="delete-card">
          <button type="submit" class="form__button">Yes</button>
        </form>
      </div>
    </div>

    <div class="modal modal_type_avatar">
      <div class="modal__window modal__window_type_avatar">
        <button type="button" class="modal__close-button modal__close-button_for_avatar"></button>
        <h3 class="modal__title modal__title_type_avatar">Change profile picture</h3>
        <form novalidate class="form form_type_avatar" name="avatar">
          <div class="form__input-container">
            <input
              type="url"
              id="input-profileUrl"
              name="link"
              placeholder="Image URL"
              class="form__input form__input_valid form__input_type_url"
              required
            />
            <span class="form__error form__error_type_url">.</span>
             <button type="submit" class="form__button">Save</button>
          </div>
        </form>

      </div>
    </div>
  </body>
</html>
